body{margin: 0;}
.Cafe_container{
    width: 60%;
    height: 40%;
     margin: 15% auto ;
     margin-top: 4% ;
     margin-bottom: 2%;
     box-shadow: 1px 1px 0 1px #626c74 ;
    padding:4% 4% ;
    border-radius: 1.5%;
    
}
.upload_img{
    width: 50%;
  margin: 0 33.5%;
}
.ant-upload-text{
    padding: 0 5%;
}