$primary:hsl(22, 100%, 50%);

$background:#212121;//main background
$layout1:#282828;//sider
$layout2:#303030;//header
$layout4:#333;//on hover
$layout5:#414141;//on selection
$layout6:#575757;
$layout7:#676767;
$layout8:#818181;
$layout9:#949494; //pagination next key
$extralayout:#1c1d1e; //pagination keys background

$maintext:white;
$secondtext:silver;
$bar:white;
$barOnhover:silver;

.body {
    margin: 0;
    width:100%;
    overflow: hidden;
  }
.h3, h3 {
   
    color: $maintext;
    margin-top: 5px;    
}
.h5, h5 {
    color:$secondtext;
    margin-top: 2px;    
}
.container{
    width: 25%;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    max-height: "200px";
    
  }

  
  @media (max-width:480px) {
    .member {
      flex: 0 100%
    }
}
.name {
    position: absolute;
    bottom: 3px;
}

//pagkinate
.ant-pagination{
  width: 100% !important;
  margin: auto;
  text-align: center !important;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link,
.ant-pagination-item,.ant-pagination-jump-prev,.ant-pagination-jump-next {
    background-color:$layout2;
  border-radius:6px 50%;
  border-color: $layout4;
  color: $secondtext !important;
}
.anticon svg ,.ant-pagination-item-ellipsis {
    margin-bottom: 50%;
   color: $secondtext !important;
}
.ant-pagination-prev .ant-pagination-item-link:hover, .ant-pagination-next .ant-pagination-item-link:hover,.ant-pagination-item:hover
,.ant-pagination-jump-prev:hover,.ant-pagination-jump-next:hover {  
   color: $secondtext !important;
    border-color: $layout6!important;
}
.ant-pagination-prev .ant-pagination-item-link:active, .ant-pagination-next .ant-pagination-item-link:active,.ant-pagination-item:active
,.ant-pagination-jump-prev:active,.ant-pagination-jump-next:active {  
   color: $secondtext !important;
    background-color: $layout5!important;
}
.ant-pagination-item-active{
  background-color:$primary;
  color:$maintext;
  border-color: $primary !important;
}

//image in carousel
.img-with-text {
  text-align: justify;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
  margin-top: 13%;
}
//carousel
.carousel-status{
  visibility: hidden;
}

.carousel .control-next.control-arrow {
  right: 42.3% !important;
  margin-top: 0.1% !important;
}
.carousel.carousel-slider .control-arrow {
  background: $layout2 !important;
  padding: 1% !important;
  top: 70% !important;
  font-size: 24px !important;
}

.carousel .control-prev.control-arrow{
  left: 42% !important;
}
//home
.bar{
    color: $bar;
    size: 17px;
    font-size: 20px;
    margin-bottom: 12px;
  
  }
  .bar:hover{
    color: $barOnhover;
    transform: scale(1.3);
    transform: scale(1.05);
    transition: 0.5s;
  }
  .ant-layout{
    background-color: $layout1;
  
  }
  .ant-menu{
    background-color: $layout1;
  }
  .ant-menu-item.m-item.ant-menu-item{
    color: $maintext;
    background-color: $layout1;
  }
  
  
  .ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline,
  .ant-menu.ant-menu-dark.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {
    background:  $layout1;
  }
  
  .ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline :hover{
    background-color: $layout4;
  }
  .ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline :focus-within{
   background-color: $layout5;
  }
  .ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline ::selection{
    background-color: $layout5 !important;
   }
  .ant-menu-item-selected{
    background-color: $layout5 !important;
  
   }
  /* li.ant-menu-item.m-item.ant-menu-item-active.ant-menu-item-selected {
    background: #fff;
  } */
  
 
  .ant-layout-sider .ant-layout-sider-trigger {
    appearance: 1s;
    background: $layout1;  color:$maintext;
  }
  
  /*****************/
  
  /******header*****/
  .ant-layout-header{
    text-align: center;
      width: 100%;
      top: 0;
    display: block;
    transition: top 0.3s;
    position: fixed;
      margin:0px;
      font-style: italic;
      height: 53px;
      z-index: 99;
      color: $maintext !important  ;
    background-color: $layout2 !important;
  }
  .site-layout-background {
    width: 100%;  
    display: block;
    background: $background;
    color:$maintext;
    }
    .ant-layout .site-layout {
      margin:0px;
    }
  /*****************/
  .ant-layout-content{
    background: $background;
    min-height: 100%;
  }
  
  .ant-list-item-meta{
    border: transparent;
    color: $maintext !important;
  }