/*****menu********/
.edit-pro {
  margin: 5px;
  color: #141414;
  padding: 0;
}
.ant-menu-item.edit-pro.ant-menu-item-selected,
.ant-menu-item.edit-pro.ant-menu-item-active {
  color: rgb(2, 2, 2);
}

/* [data-theme="dark"] .site-layout .site-layout-background {
  background: #993737;
} */

.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline,
.ant-menu.ant-menu-light.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {
  background: #aebcc0;
}
.ant-menu-item.m-item.ant-menu-item-selected,
.ant-menu-item.m-item.ant-menu-item-active {
  color: rgb(2, 2, 2);
}
/* li.ant-menu-item.m-item.ant-menu-item-active.ant-menu-item-selected {
  background: #fff;
} */
li.ant-menu-item.m-item.ant-menu-item-selected::after,
li.ant-menu-item.edit-pro.ant-menu-item-selected::after {
  border-right: 3px solid #141414;
}
.ant-menu-item.m-item {
  background: #aebcc0;
}

/* .side-menu :hover {
  box-shadow: -3px -3px 3px 0 #4b4b4b inset;
} */
.ant-layout-sider .ant-layout-sider-trigger {
  background: #aebcc0;
  color:black;
}

/*****************/

/******header*****/
.ant-layout-header.site-layout-background {
    text-align: left;
    width: auto;
    margin:0px;
    background-image: radial-gradient(circle, black, rgb(2, 7, 49));
    color: yellow;
  }
  .ant-layout .site-layout {
    margin:0px;
  }
/*****************/


/****content*****/
.site-layout-background {
  background: #fff;
}
/*****************/

/******footer*******/
.ant-layout-footer.footer {
    margin-top: 10px;
  background: rgb(2, 7, 49);
}
/*****************/