
p{
    color: white;
}
.ant-card-head-title{
color: white;
}
.mycafe_card{
    display: inline;
    float: left;
    margin: 1%;
}
.mycafe_container{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.photocafe{
    max-height: 20vh;
}
.button:hover .text_button{
    visibility: visible;
     opacity: 1;
}
