
.body {
    margin: 0;
    width:100%;
    overflow: hidden;
  }
.h3, h3 {
   
    color: honeydew;
    margin-top: 5px;    
}
.h5, h5 {
    color: rgb(184, 194, 184);
    margin-top: 2px;    
}
.container{
    width: 25%;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    max-height: "200px";
    
  }

  
  @media (max-width:480px) {
    .member {
      flex: 0 100%
    }
}
.name {
    position: absolute;
    bottom: 3px;
}
.ant-pagination{
  width: 50%;
  margin: auto;
  margin-left: 5%;
  margin-right: 35%;
}
.ant-pagination-jump-prev{
  background-color: #949292;
  color: #1c1d1e;
}
.ant-pagination-jump-prev-custom-icon{
  color: #1c1d1e;
}
.ant-pagination-prev 
{

 background-color:#949292;
}
.ant-pagination-item {
  background-color: #949292;
  color:#1c1d1e;
  border:transparent;
}
.ant-pagination-item-active{
  background-color:#1c1d1e ;
  color:#ffe400;
}
.ant-pagination-next button{
  background-color: #949292;  
}
.ant-pagination-item-link button{
  background: #949292;

}
.ant-collapse-header{
  background-color: #1f2833;
  color: whitesmoke;
  border: transparent;
  ;
}.ant-collapse-header::before{
  background-color: whitesmoke;
}
.ant-collapse-content-box{
  background-color: #1f2833;;
  color: whitesmoke;
}
.ant-collapse-content{
  background-color: #1f2833;;
  color: whitesmoke;
border: transparent;
}

.ant-select-single {
  background-color: #272727;color: whitesmoke
}
.ant-select-show-arrow {
  background-color: #272727;color: whitesmoke
}.ant-select-show-search{
  background-color: #272727;
  color: #272727;color: whitesmoke
}
.ant-select-dropdown{background-color: #272727;color: whitesmoke;

} 

.ant-select-selection-search{
  background-color: #272727;
}
.ant-select-item-option-content{
  color:rgb(136, 128, 128);

}
.ant-select-item-option-active{
  color:black;
  background-color: #747474;

}
.img-with-text {
  text-align: justify;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
  margin-top: 13%;
}
.carousel-status{
  visibility: hidden;
}

.carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
  background-color: wheat;
  margin-top: 10%;
  
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
  background-color: wheat;
  margin-top: 40px;

}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
  margin-top: 40px;

  background-color: wheat;
}

.carousel .control-next.control-arrow:before {
  content: '';
  border: solid #0135AD;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 4px;
  background-color: wheat;
}

.carousel .control-prev.control-arrow:before {
  content: '';
  border: solid #0135AD;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 14px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}